@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Noto+Sans&family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 4rem;
  font-family: "poppins";
  box-sizing: border-box;
  font-family: poppins;
  color: white;
  /* background: url(./images/bg-intro-desktop.png); */
  background-color: rgb(40, 101, 92);
}

.App-container {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.sideText {
  align-self: center;
}
.form {
  max-width: 400px;
}

#formControl {
  padding: 25px;
  border-radius: 10px;
}
#trialCard,
.trialSpan {
  font-size: 0.8rem;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: hsl(248, 32%, 49%);
  height: 45px;
  text-align: center;
  justify-content: center;
}

.claim-trial-footer {
  margin-top: 10px;
  background-color: white;
  font-size: 10px;
  text-align: center;
}

i {
  font-size: 10px;
  color: hsl(0, 100%, 74%);
  text-align: end;
}

@media (max-width: 900px) {
  .App-container {
    margin: 0 auto;
    max-width: 380px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
  }
  h2 {
    font-size: 1.6rem;
  }
  p {
    font-size: 0.8rem;
  }
}
